* {
    border: none;
    border-radius: 0;
    font-family: "Cousine Nerd Font";
    font-size: 16px;
    font-weight: bold ;
    min-height: 0;
}

window#waybar {
 background-color : #000000;
    color: #eeeeee;
}

tooltip {
    background: #000000;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}
network {
   color: #BEB492;

}
tooltip label{
    color: #eeeeee;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #000000;
    color: #eeeeee;
    border-radius: 10px;
}

#custom-screenshot,
#custom-launch_wofi
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#battery,
#custom-weather,
#custom-myhyprv,
#window,
#taskbar,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
    background: #000000;
     opacity: 1;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 1px;
    border: 0px;
}

#tray,#workspaces,#taskbar,#network,#idle_inhibitor.enabled,#idle_inhibitor.disabled,#clock{
	border-radius: 10px
}

#backlight {
    border-radius: 0px 0px 0px 0px;
  padding: 0px; 
  margin-right : 5px;
  margin-left : 5px;
    
}

#workspaces {
margin-left: 10px;
}
#custom-lock_screen,#workspaces, #taskbar{
   border-radius: 10px 10px 10px 10px;
   margin-right: 10px;
}




#temperature.critical {
    color: #e92d4d;
}


#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}



#pulseaudio {
    color: #40a2e3;
    border-radius : 10px 0px 0px 10px;
    margin-right : 5px;

}

#pulseaudio.microphone {
    color: #DC84F3;
    border-left: 0px;
    border-right: 0px;
}

#battery {
	color: #579835;
	border-left: 0px;
	border-radius: 0px 10px 10px 0px;
	margin-right: 10px;
}

 

#taskbar button:hover{
    background: #000000;
}
